/* Background color of the top-left panel */
.wy-side-nav-search, .wy-nav-top {
    background: #05b995;
}

/* Color of the text for the homepage title */
.wy-side-nav-search .wy-dropdown>a,
.wy-side-nav-search>a {
    color: #ffffff
}

/* Text color of main headers in the side bar */
.wy-menu-vertical header,
.wy-menu-vertical p.caption,
.rst-versions a {
    color: #05b995;
}

/* Background color of the side-bar */
.wy-nav-side {
    background: #ffffff;
}

.wy-menu-vertical a.reference {
    color: #000;
}

.wy-nav-content {
    background: #ffffff;
    max-width: none;
}

.rst-versions span.rst-current-version {
    color: #05b995;
}

.rst-versions span.fa\ fa-book {
    color: #05b995;
}

.wy-nav-content ul.wy-breadcrumbs a {
    color: #05b995
}
